{% extends "base.html.twig" %}

{% block title %}
	-
	{{nom}}
{% endblock %}


{% block body %}

	<!-- ======= Top Bar ======= -->
	<section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
			<i class="bi bi-phone d-flex align-items-center">
				<span>+237 699 649 898</span>
			</i>

		</div>
	</section>

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top d-flex align-items-center header-transparent">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

			<div class="logo me-auto">
				<h1>
					<a href="index.html">{{nom}}</a>
				</h1>
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
			</div>

			<nav id="navbar" class="navbar order-last order-lg-0">
				<ul>
					<li>
						<a class="nav-link scrollto active" href="#hero">ACCUEIL</a>
					</li>
					<li>
						<a class="nav-link scrollto" href="#contact">Contact</a>
					</li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
			<!-- .navbar -->

			<a href="#menu" class="book-a-table-btn scrollto">MENU</a>

		</div>
	</header>
	<!-- End Header -->


	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="hero-container">
			<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

				<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

				<div
					class="carousel-inner" role="listbox">

					<!-- Slide 1 -->
					<div class="carousel-item active" style="background-image: url({{ asset('assets/img/restaurants/saintgermain/e462f861302bbf35a3c091f306eacd52.jpeg') }});">
						<div class="carousel-container">
							<div class="carousel-content">
								<h2 class="animate__animated animate__fadeInDown">
									<span>Brasserie
									</span>
									Le Saint-Germain</h2>
								<p class="animate__animated animate__fadeInUp">Terasse - Disponible pour évènement - Parking sécurisé</p>
								<div>
									<a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Notre menu</a>

								</div>
							</div>
						</div>
					</div>


				</div>


			</div>
		</div>
	</section>
	<!-- End Hero -->


	<main
		id="main">


		<!-- ======= Menu Section ======= -->
		<section id="menu" class="menu">
			<div class="container">

				<div class="section-title">
					<h2>Notre
						<span>Menu</span>
					</h2>
				</div>

				<div class="row">
					<div class="col-lg-12 d-flex justify-content-center">
						<ul id="menu-flters">
							<li data-filter="*" class="filter-active">Voir tout</li>
							<li data-filter=".filter-starters">Petit Déjeunner</li>
							<li data-filter=".filter-viandes">Les Viandes</li>
							<li data-filter=".filter-pattes">Les pattes</li>
							<li data-filter=".filter-accom">Accompagnements</li>
							<li data-filter=".filter-dessert">Les Desserts</li>
						</ul>
					</div>
				</div>

				<div class="row menu-container">

					<div class="col-lg-6 menu-item filter-starters">
						<div class="menu-content">
							<a href="#">Petit Déjeunner</a>
							<span>4.500</span>
						</div>
						<div class="menu-ingredients">
							viennoiserie aux choix, beurre, confiture + verre de jus + boisson chaude + Omelette nature (03 oeufs)
						</div>
					</div>

					<div class="col-lg-6 menu-item filter-starters">
						<div class="menu-content">
							<a href="#">Supplémént Petit Déjeunner 1</a>
							<span>500</span>
						</div>
						<div class="menu-ingredients">
							Jambon, saucisse, Sardine
						</div>
					</div>

					<div class="col-lg-6 menu-item filter-starters">
						<div class="menu-content">
							<a href="#">Supplémént Petit Déjeunner 2</a>
							<span>1.500</span>
						</div>
						<div class="menu-ingredients">Croissant, Pain au chocolat, Tartine</div>
					</div>

					<div class="col-lg-6 menu-item filter-viandes">
						<div class="menu-content">
							<a href="#">Travers de porc caramélisé</a>
							<span>9.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-viandes">
						<div class="menu-content">
							<a href="#">Saucisse de Toulouse</a>
							<span>7.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-viandes">
						<div class="menu-content">
							<a href="#">Foie de boeuf poêlé et sa purée maison</a>
							<span>9.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-viandes">
						<div class="menu-content">
							<a href="#">Jambonneau de porc</a>
							<span>9.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-viandes">
						<div class="menu-content">
							<a href="#">Filet de zébu</a>
							<span>10.500</span>
						</div>
						<div class="menu-ingredients">
							Sauce creme champignon ou poivron vert
						</div>
					</div>

					<div class="col-lg-6 menu-item filter-viandes">
						<div class="menu-content">
							<a href="#">Tartare de boeuf</a>
							<span>10.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-viandes">
						<div class="menu-content">
							<a href="#">Blanquette de veau à l'ancienne</a>
							<span>10.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-viandes">
						<div class="menu-content">
							<a href="#">Rognon entier moutard à l'ancienne</a>
							<span>10.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-viandes">
						<div class="menu-content">
							<a href="#">Tournedos Rossini</a>
							<span>14.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-viandes">
						<div class="menu-content">
							<a href="#">Souris d'agneau</a>
							<span>11.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-pattes">
						<div class="menu-content">
							<a href="#">Spaghetti ou Penne Gambas</a>
							<span>9.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>
					<div class="col-lg-6 menu-item filter-pattes">
						<div class="menu-content">
							<a href="#">Spaghetti ou Penne à la carbonara</a>
							<span>9.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-accom">
						<div class="menu-content">
							<a href="#">Les accompagnements</a>
							<span></span>
						</div>
						<div class="menu-ingredients">Riz nature,
																																																	pommes sautées, haricots verts, gratin de légumes, frites
						</div>
					</div>

					<div class="col-lg-6 menu-item filter-dessert">
						<div class="menu-content">
							<a href="#">Coupe Colonel</a>
							<span>4.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-dessert">
						<div class="menu-content">
							<a href="#">Salade de fruits</a>
							<span>4.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-dessert">
						<div class="menu-content">
							<a href="#">Fondant au chocolat</a>
							<span>4.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-dessert">
						<div class="menu-content">
							<a href="#">Dame blanche</a>
							<span>4.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

					<div class="col-lg-6 menu-item filter-dessert">
						<div class="menu-content">
							<a href="#">Mousse au chocolat</a>
							<span>4.500</span>
						</div>
						<div class="menu-ingredients"></div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Menu Section -->


		<!-- ======= Contact Section ======= -->
		<section id="contact" class="contact">
			<div class="container">

				<div class="section-title">
					<h2>
						<span>Contactez</span>
						nous</h2>
					<p>Européenne 🇪🇺 • Brasserie</p>
				</div>
			</div>


			<div class="container mt-5">

				<div class="info-wrap">
					<div class="row">
						<div class="col-lg-3 col-md-6 info">
							<i class="bi bi-geo-alt"></i>
							<h4>Localisation:</h4>
							<p>Carrefour IPN,
								<br>Bonapriso</p>
						</div>

						<div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
							<i class="bi bi-clock"></i>
							<h4>Heures d'ouverture:</h4>
							<p>Lundi-Dimanche:<br>09:00 - 22:00
							</p>
						</div>

						<div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
							<i class="bi bi-envelope"></i>
							<h4>Email:</h4>
							<p></p>
						</div>

						<div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
							<i class="bi bi-phone"></i>
							<h4>Téléphone:</h4>
							<p>+237 699 649 898</p>
						</div>
					</div>
				</div>


			</div>
		</section>
		<!-- End Contact Section -->

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="container">
			<h3>Le Saint Germain</h3>
			<p>Terrasse - Disponible pour évènements - Parking sécurisé |
				<i class="bi bi-geo-alt-fill"></i>
				Carrefour IPN, Bonapriso</p>
			<div class="social-links">
				<a href="#" class="twitter">
					<i class="bx bxl-twitter"></i>
				</a>
				<a href="#" class="facebook">
					<i class="bx bxl-facebook"></i>
				</a>
				<a href="#" class="instagram">
					<i class="bx bxl-instagram"></i>
				</a>
				<a href="#" class="google-plus">
					<i class="bx bxl-skype"></i>
				</a>
				<a href="#" class="linkedin">
					<i class="bx bxl-linkedin"></i>
				</a>
			</div>
			<div class="copyright">
				&copy; Copyright
				<strong>
					<span>Qrcartes.com</span>
				</strong>. All Rights Reserved
			</div>
			<div class="credits">
				<!-- All the links in the footer should remain intact. -->
				<!-- You can delete the links only if you purchased the pro version. -->
				<!-- Licensing information: https://bootstrapmade.com/license/ -->
				<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/ -->
				Designed by
					<a href=""> Qrcartes.com</a>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
		<i class="bi bi-arrow-up-short"></i>
	</a>

{% endblock %}
