.chefs .member .social h4 {

    font-weight: bold;
    color: #6c6c6c;


}

.chefs .member h4 {

    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 30px;
}

/*
.menu .filter-dessert .menu-content a {

    color: crimson;
}


.menu .filter-starters .menu-content a {

    color: blue;
}


.menu .filter-viandes .menu-content a {

    color: forestgreen;
}
.menu .filter-pattes .menu-content a {

    color: cadetblue;
}

*/

.mestables {

    padding: 15px;
    background-color: #fca87c;
    border-radius: 3px;
}

.mestables .required {
    font-weight: bold;
}

.mestables .form-commande {
    margin-bottom: 10px;
    font-weight: normal;

}

.mestables .form-commande .required {

    font-weight: normal;
}

.mestables input {

    margin: 5px;

}

.titre-qrcate-orange {
    color: chocolate;
}

.prix-commande {
    color: chocolate;
    font-weight: bold;


}

.text-commande {
    text-align: center;
    padding: 10px;
    color: darkgreen;
    font-weight: bold;

}

.qrcarte-inscription {

    padding: 20px;
    margin-top: 150px;
}