.chefs .member .social h4 {

    font-weight: bold;
    color: #6c6c6c;


}

.chefs .member h4 {

    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 30px;
}

/*
.menu .filter-dessert .menu-content a {

    color: crimson;
}


.menu .filter-starters .menu-content a {

    color: blue;
}


.menu .filter-viandes .menu-content a {

    color: forestgreen;
}
.menu .filter-pattes .menu-content a {

    color: cadetblue;
}

*/